APP_NAME=Wayno
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=https://royoorders.com

LOG_CHANNEL=daily

DB_CONNECTION=mysql
DB_HOST=
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=in-v3.mailjet.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
FACEBOOK_CALLBACK_URL=


APPLE_CLIENT_ID=
APPLE_CLIENT_SECRET=

APPLE_CALLBACK_URL=
GOOGLE_MAPS_GEOCODING_API_KEY=

SENTRY_LARAVEL_DSN=
SENTRY_TRACES_SAMPLE_RATE=1

DEV_EMAIL=runrun@gmail.com
FIREBASE_CREDENTIALS=storage/app/firebase/runrun-363911-firebase-adminsdk.json
STRIPE_WEBHOOK_SECRET=whsec_64d0e0ce909a9f8373b8b6b973e552073abea9b7dcd7eb3c459982e48a39e881

IMG_URL=royoorders.com
IMG_URL1=https://images.wayno.ae/insecure/fill/
FIT_URl=https://images.wayno.ae/insecure/fit/
IMG_URL2=/sm/0/plain